@import url(__img/feyman__img.css);
@import url(__link/feyman__link.css);
@import url(__subtitle/feynman__subtitle.css);
@import url(__title/feynman__title.css);

.feynman {
  display: flex;
  flex-direction: column;
  min-height: 890px;
  align-items: center;
  position: relative;
  background-color: #f2f2f2;
}
